{% extends 'events/base.html' %}

{% block content %}
    <head>
        <title>Pixel Perfect Studios | Available Bookings</title>
    </head>

    <h1 class="title" style="font-weight: 500;">Available Bookings</h1>
    <br/>



    {% comment %}{% if event.approved %}{% endcomment %}

    {% for event in event_list %}
        <div class="card">

            <div class="card-header">
                {{ event }}
            </div>

            <div class="card-body">
                <h5 class="card-title">Package: {{ event.package }}</h5>
                <ul class="card-text">
                    <li>Date: {{ event.event_date }}</li>
                    <li>Days Till Booking: {{ event.Days_till }}</li>
                    <li>Occurred: {{ event.Is_Past }}</li>
                    <li>Package Website: {{ event.package.web }}</li>
                    <li>Photographer: {{ event.manager }}</li>
                    <li>Description: {{ event.description }}</li>
                    <li>Approved: {{ event.approved }}</li>
                    <li>Notes:<br/>
                        {% for user in event.attendees.all %}
                            {{ user }}<br/>

                        {% endfor %}
                    </li>
                </ul>
            </div>
            {% if user.is_authenticated %}
                <div class="card-footer text-muted">

                    <a href="{% url 'update-event' event.id %}" class="btn btn-outline-primary btn-sm">Update
                        Booking</a>

                    <a href="{% url 'delete-event' event.id %}" class="btn btn-outline-danger btn-sm">Delete
                        Booking</a>

                </div>
            {% endif %}
                {% comment %}{% endif %}{% endcomment %}
        </div>

        <br/><br/>

    {% endfor %}

    {% comment %}{% endif %}{% endcomment %}



{% endblock %}