{% include 'header.html' %}
{% load static %}
{% block content %}

    <head>
        <title>Pixel Perfect Studios | Senior Photo Package</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
              rel="stylesheet">
        <link rel="icon" type="image/png" sizes="192x192" href="{% static 'android-chrome-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="512x512" href="{% static 'android-chrome-512x512.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'site.webmanifest' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    </head>

    <body>

        <main style="margin-top: 56px;">
            <img src="{% static 'index/senior_02.webp' %}" width="50%" height="50%" alt="Senior Photo Package" class="portrait">
            <div style="display: table-row; margin-left: 62px;">
                <div class="package_title">
                    <h2>$450</h2>
                    <h2 style="margin-bottom: 22px;">Senior Portrait Package</h2>
                </div>
                <p>Senior year is one of the most monumental parts of your life.
                    It's full of lasts. Last football game, last school dance,
                    last first day of school. To help celebrate this important
                    time in your life, it is important to capture YOU and all
                    that you are during this very special time.</p>
                <br/>
                <p>So, if you’re looking for the perfect senior shoot, then
                    look no further! This package is perfect for all high school
                    seniors, complete with up to three locations and outfits.
                    This photo shoot will occur in the Omaha-Metro area. </p>
                <h3 style="margin-top: 32px;">This package includes:</h3>
                <ul style="margin-left: 32px!important;">
                    <li style="padding-left: 12px;">2.5 hours of shooting with 1-3 locations & outfits</li>
                    <li style="padding-left: 12px;">Editing on 150+ photos</li>
                    <li style="padding-left: 12px;">Digital image transfer & download</li>
                    <li style="padding-left: 12px;">Printing & posting rights on all images</li>
                </ul>
                <hr style="margin-top: 42px; border-color: #fefefe; border-width: 1px;">
                <a href="{% url 'calendar' %}">
                <button class="btn button btn-primary" style="width: 212px; margin-top: 22px;">View Available
                    Dates</button>
                </a>
            </div>
        </main>
        {% include 'footer.html' %}
    </body>

{% endblock %}